html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home {
  width: 1200px;
  margin: auto;
  margin-top: 60px;
  border: 1px solid black;
  padding: 20px;
  box-shadow: 1px 1px 20px grey
}

.embla3 {
  overflow: hidden;
  height: fit-content;
  box-sizing: border-box;
  background-color: #8c909e;
  width: 100%;
  margin: auto;
  position: relative;
}
.embla__container3 {
  display: flex;
  /* margin-left: -10px; */
}

.progress-bar-container {
  width: 100%;
  height: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  background-color: #ddd;
}

/* .progress-bar-container::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 100%;
  top: 0;
  left: 0;
  background: black;
  border-radius: 3px;
} */

.progress-bar {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  background: black;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.indicators {
  text-align: center;
}

.indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #dadada;
  border-radius: 50%;
  margin-right: 5px;
}

.indicators span.active {
  background-color: #00b9f5;
  width: 18px;
  border-radius: 18px;
}

.card {
  width: 100%;
  height: 110px;
  background: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  position: relative;
}

.slide_handler_center_left, .slide_handler_center_right {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer
}

.slide_handler_center_left {
  left: -15px;
}

.slide_handler_center_right {

  right: -15px;
}

.handleHover {
  position: relative;
}

.display-none {
  display: none;
}

.handleHover:hover > .display-none {
  display: block;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
}